<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>entry</dict>
    <dict>
        <key>cell</dict>
        <dict>
            <key>label</dict>
            <string>IdleGongfu Mod Menu</string>
        </dict>
        <key>isController</dict>
        <true/>
        <key>bundle</dict>
        <string>IdleGongfuModMenu</string>
    </dict>
</dict>
</plist>
